<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newzet.api.article.infra.mapper.ArticleMapper">
    <select id="selectMonthlyArticleWithImage" resultType="com.newzet.api.article.infra.dto.ArticleWithImageResponse">
        WITH filtered_article AS (
            SELECT a.id, a.from_name, a.title, a.is_read, a.created_at, a.mailling_list, a.from_domain
            FROM article a
            WHERE a.to_user_id = #{userId}
            AND a.created_at >= make_date(#{year}, #{month}, 1)
            AND a.created_at &lt; make_date(#{year}, #{month}, 1) + INTERVAL '1 month'
        )
        SELECT
        fa.id,
        fa.from_name,
        fa.title,
        fa.is_read,
        fa.created_at,
        n.image_url
        FROM filtered_article fa
        LEFT JOIN newsletter n
        ON (fa.from_domain = n.domain) OR (fa.mailling_list IS NOT NULL AND fa.mailling_list = n.mailling_list);
    </select>

</mapper>
